<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\Diego Gomez\Desktop\Calculator Proyect\Calculator_jar 1.1.0.0\bin\Calculator ALPHA 1.1.0.0.jar</jar>
  <outfile>C:\Users\Diego Gomez\Desktop\Calculator_jar 1.1.0.0\Calculator JE.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>true</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\Diego Gomez\Desktop\Calculator Proyect\Calculator_jar 1.1.0.0\bin\resources\Calculator icon_ico.ico</icon>
  <singleInstance>
    <mutexName>Calculator JE 1.1.0.0</mutexName>
    <windowTitle></windowTitle>
  </singleInstance>
  <classPath>
    <mainClass>com.robatortas.Calculator.Calculator</mainClass>
    <cp>com.robatortas.Calculator.Calculator</cp>
  </classPath>
  <jre>
    <path>bin\jre1.8.0_281</path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.1.0.0</fileVersion>
    <txtFileVersion>ALPHA 1.1.0.1</txtFileVersion>
    <fileDescription>Calculator Java Edition ALPHA 1.1.0.1</fileDescription>
    <copyright>Robatortas</copyright>
    <productVersion>1.1.0.0</productVersion>
    <txtProductVersion>ALPHA 1.1.0.1</txtProductVersion>
    <productName>Calculator Java Edition</productName>
    <companyName></companyName>
    <internalName>Calculator Java Edition AlPHA 1.1.0.1</internalName>
    <originalFilename>Calculator JE.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>